body {
 border: 10px;
 border-radius: 10px;
}

#ytlink {
  float: right;
  font-size: medium;
}

#refresh {
 float: right;
 font-size: small;
 border-radius: 10px;
 background-color: aliceblue;
}

#refresh:hover {
 background-color: skyblue;
}

#let {
  border: none;
  background-color: white;
  color: black;
  padding: none;
  margin: 0px;
  width: 2em;
} 

.title {
  font-size: large;
  font-weight: 200;
  height: 40px;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
}

.hidden {
 display: none;
}

.visible {
 display: block;
}

.site {
 width: -webkit-fill-available;
 height: -webkit-fill-available;
}

.tab {
 overflow: hidden;
 border: 1px solid #ccc;
 background-color: #f1f1f1;
 margin: 0px; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue; 
  color: #696969;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
 background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
 animation: fadeEffect .5s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
